<div class="header_top">
    <div class="container">  
        <div class="row align-items-center">
            <div class="col-lg-4">
               <div class="welcome_text">
                   <p>Welcome to <span>Electronics Store</span> </p>
               </div>
            </div>
            <div class="col-lg-8">
                <div class="top_right text-right">
                    <ul>
                        <li class="currency"><a href="#"><i class="fa fa-dollar"></i> US Dollar <i class="zmdi zmdi-caret-down"></i></a>
                            <ul class="dropdown_currency">
                                <li><a href="#">EUR – Euro</a></li>
                                <li><a href="#">GBP – British Pound</a></li>
                                <li><a href="#">INR – India Rupee</a></li>
                            </ul>
                        </li>
                       <li class="language"><a href="#"><i class="zmdi zmdi-dribbble"></i> English1 <i class="zmdi zmdi-caret-down"></i></a>
                            <ul class="dropdown_language">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Germany</a></li>
                            </ul>
                        </li>
                        
                        {% if user.is_authenticated %}
                            <li class="language">
                                <a href="{% url 'account_logout' %}">
                                    <i class="fa fa-sign-out"></i> Logout 
                                </a>
                            </li>
                        {% else %}
                            <li class="language">
                                <a href="{% url 'account_login' %}">
                                    <i class="fa fa-sign-in"></i> Login 
                                </a>
                            </li>
                            <li class="language">
                                <a href="{% url 'account_signup' %}">
                                    <i class="fa fa-user-plus"></i> SignUp 
                                </a>
                            </li>
                        {% endif %}
                            
                        <li class="top_links"><a href="#"><i class="zmdi zmdi-account"></i> My account <i class="zmdi zmdi-caret-down"></i></a>
                            <ul class="dropdown_links">
                                <li><a href="checkout.html">Checkout </a></li>
                                <li><a href="my-account.html">My Account </a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </li>

                    </ul>
                </div> 
            </div>
            
        </div>
    </div>
</div>