{% load static %}
<div class="header_middle">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'pallas/img/logo/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header_middle_inner">
                    <div class="search-container">
                       <form action="#">
                           <div class="hover_category">
                                <select class="select_option" name="select" id="categori">
                                    <option selected value="1">All Categories</option>
                                    {% for category in categories %}
                                        <option value="{{ forloop.counter2 }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>                        
                           </div>
                            <div class="search_box">
                                <input placeholder="Search product..." type="text">
                                <button type="submit"><i class="zmdi zmdi-search"></i></button> 
                            </div>
                        </form>
                    </div>
                    <div class="mini_cart_wrapper">
                        <a href="javascript:void(0)"><i class="zmdi zmdi-shopping-basket"></i> <span>2items - $213.00</span> </a>
                        <!--mini cart-->
                         <div class="mini_cart">
                            <div class="cart_item">
                               <div class="cart_img">
                                   <a href="#"><img src="{% static 'pallas/img/s-product/product.jpg' %}" alt=""></a>
                               </div>
                                <div class="cart_info">
                                    <a href="#">Condimentum Watches</a>

                                    <span class="quantity">Qty: 1</span>
                                    <span class="price_cart">$60.00</span>

                                </div>
                                <div class="cart_remove">
                                    <a href="#"><i class="ion-android-close"></i></a>
                                </div>
                            </div>
                            <div class="cart_item">
                               <div class="cart_img">
                                   <a href="#"><img src="{% static 'pallas/img/s-product/product2.jpg' %}" alt=""></a>
                               </div>
                                <div class="cart_info">
                                    <a href="#">Officiis debitis</a>
                                    <span class="quantity">Qty: 1</span>
                                    <span class="price_cart">$69.00</span>
                                </div>
                                <div class="cart_remove">
                                    <a href="#"><i class="ion-android-close"></i></a>
                                </div>
                            </div>
                            <div class="mini_cart_table">
                                <div class="cart_total">
                                    <span>Subtotal:</span>
                                    <span class="price">$138.00</span>
                                </div>
                            </div>

                            <div class="mini_cart_footer">
                               <div class="cart_button">
                                    <a href="cart.html">View cart</a>
                                    <a href="checkout.html">Checkout</a>
                                </div>
                            </div>

                        </div>
                        <!--mini cart end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>