<div class="tab-pane fade" id="reviews" role="tabpanel" >
    <div class="reviews_wrapper">
        <h2>1 review for Donec eu furniture</h2>
        {% include "main/home/review/review_list.html" %}
        <div class="comment_title">
            <h2>Add a review </h2>
            <p>Your email address will not be published.  Required fields are marked </p>
        </div>
        <div class="product_ratting mb-10">
           <h3>Your rating</h3>
            <ul>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
                <li><a href="#"><i class="fa fa-star"></i></a></li>
            </ul>
        </div>
        <div class="product_review_form">
            <form action="{% url 'review' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="product" value="{{ product.pk }}">
                <div class="row">
                    <div class="col-12">
                        <label for="review_comment">Your review </label>
                        <textarea name="msg" id="review_comment" ></textarea>
                    </div> 
                    <div class="col-lg-6 col-md-6">
                        <label for="author">Name</label>
                        <input id="author" name="name" type="text">

                    </div> 
                    <div class="col-lg-6 col-md-6">
                        <label for="email">Email </label>
                        <input id="email" name="email" type="email">
                    </div>  
                </div>
                <button type="submit">Submit</button>
             </form>   
        </div> 
    </div>     
</div>