{% extends "_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block page_name %}
    Set Password
{% endblock page_name %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="customer_login mt-60">
                    <div class="account_form">
                        <h1>{% trans "Set Password" %}</h1>

                        <form method="post" action="{% url 'account_set_password' %}" class="password_set">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" name="action">Set Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>   
    </div>
{% endblock %}
