{% load humanize %}
{% load electronic_filters %}

<section class="home_product_area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_header">
                    <div class="section_title">
                        <h2>
                            Electronics <span>Store</span>
                        </h2>
                    </div>
                    <div class="product_tab_button">
                        <ul class="nav" role="tablist">
                            {% for category in home_product_area_categories %}
                                <li>
                                    <a class="{% if forloop.first %}active{% endif %}"
                                       data-bs-toggle="tab"
                                       href="#home-prod-area-{{ category.name|slugify }}"
                                       role="tab"
                                       aria-controls="home-prod-area-{{ category.name|slugify }}"
                                       aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    {% for category in home_product_area_categories %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                             id="home-prod-area-{{ category.name|slugify }}"
                             role="tabpanel"
                             aria-labelledby="home-prod-area-{{ category.name|slugify }}-tab">
                            <div class="product_carousel product_column4 owl-carousel">
                                {% for product in category.products.all %}
                                    <div class="single_product" style="width: 275.6px; height: 471.2px;">
                                        <div class="product_thumb">
                                            <a href="{% url 'product_detail' product.slug %}">
                                                <img src="{{ product.product_img_thumbnail.url }}"
                                                        alt="{{ product.name }}"
                                                        style="width: 274.8px; height:274.8px">
                                            </a>
                                            <div class="label_product">
                                                <span class="label_sale">sale</span>
                                            </div>
                                            <div class="quick_button">
                                                <a href="#"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modal_box"
                                                    title="quick view"> <i class="zmdi zmdi-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="product_content">
                                            <div class="product_name">
                                                <h3>
                                                    <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
                                                </h3>
                                            </div>
                                            <form class="rating-form" method="post">{% csrf_token %}
                                                <div class="product_rating">
                                                    <ul>
                                                        {% for i in '12345' %}
                                                            {% if product.ratings.first %}
                                                                <li data-value="{{ i }}">
                                                                    {% with i=i|to_int %}
                                                                        <a href="#" class="{% if i <= product.ratings.first.rating %}active{% endif %}">
                                                                            <i class="zmdi {% if i <= product.ratings.first.rating %}zmdi-star{% else %}zmdi-star-outline{% endif %}">
                                                                            </i>
                                                                        </a>
                                                                    {% endwith %}
                                                                </li>
                                                            {% else %}
                                                                <li data-value="{{ i }}">
                                                                    <a href="#">
                                                                        <i class="zmdi zmdi-star-outline"></i>
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                    <input type="hidden" id="rating_value" name="rating" value="{{ product.ratings.first.rating|default:0 }}">
                                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                                </div>
                                                <button type="submit" style="display:none;">Submit Rating</button>
                                            </form>
                                            <div class="price_box">
                                                {% if product.discount %}
                                                    <span class="current_price">Rs.{{ product.new_price|intcomma }}</span>
                                                    <span class="old_price">Rs.{{ product.price|intcomma }}</span>
                                                    <span class="discount">(-{{ product.discount }}%)</span>
                                                {% else %}
                                                    <span class="current_price">Rs.{{ product.price|intcomma }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="action_links">
                                                <ul>
                                                    <li class="wishlist">
                                                        <a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li class="add_to_cart">
                                                        <form method="post" class="cart_form">
                                                        {% csrf_token %}
                                                        <input
                                                            type="hidden"
                                                            name="prod_slug"
                                                            value="{{ product.slug }}"
                                                        />
                                                        <button type="submit">
                                                            <i class="zmdi zmdi-shopping-cart-plus"></i>
                                                            add to cart
                                                        </button>
                                                        </form>
                                                    </li>
                                                    <li class="compare">
                                                        <a href="#" title="compare"><i class="zmdi zmdi-swap"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
