{% extends "_base.html" %}

{% block content %}
    <!--slider area start-->
    {% include "main/home/slider/slider_section.html" %}
    <!--slider area end-->

    <!--deals product section area start-->
    {% include "main/home/product/product deal/deals_product_section.html" %}
    <!--deals product section area end-->

    <!--new product area start-->
    {% include "main/home/product/new product/new_product_area.html" %}
    <!--new product area end-->

    <!--home product area start-->
    {% include "main/home/product/home product/home_product_area.html" %}
    <!--home product area end-->

    <!--banner area start-->
    {% include "main/home/banner/banner_area.html" %}
    <!--banner area end-->

    <!-- custom product area start -->
    {% include "main/home/product/custom product/custom_product_area.html" %}
    <!-- custom product area end -->

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% if messages %}
                {% for message in messages %}
                    {% if "success" in message.tags %}
                        alertify.set('notifier','position', 'top-right');
                        alertify.success("{{ message }}");
                    {% endif %}
                {% endfor %}
            {% endif %}
        });
    </script>
    
{% endblock content %}