{% extends "_base.html" %}

{% block content %}
    <!--slider area start-->
    {% include "main/home/slider/slider_section.html" %}
    <!--slider area end-->

    <!--category product area start-->
    {% include "main/home/product category/category_product_area.html" %}
    <!--category product area end-->

    <!--deals product section area start-->
    {% include "main/home/product deal/deals_product_section.html" %}
    <!--deals product section area end-->

    <!--new product area start-->
    {% include "main/home/new product/new_product_area.html" %}
    <!--new product area end-->

    <!--banner area start-->
    {% include "main/home/banner/banner_area1.html" %}
    <!--banner area end-->

    <!--home product area start-->
    {% include "main/home/home product/home_product_area1.html" %}
    <!--home product area end-->

    <!--banner area start-->
    {% include "main/home/banner/banner_area2.html" %}
    <!--banner area end-->

    <!--home product area start-->
    {% include "main/home/home product/home_product_area2.html" %}
    <!--home product area end-->

    <!--banner area start-->
    {% include "main/home/banner/banner_area3.html" %}
    <!--banner area end-->

    <!--home product area start-->
    {% include "main/home/home product/home_product_area3.html" %}
    <!--home product area end-->

    <!--banner area start-->
    {% include "main/home/banner/banner_area4.html" %}
    <!--banner area end-->
{% endblock content %}


