{% load crispy_forms_tags %}

<div class="tab-pane" id="address">
    <p>The following addresses will be used on the checkout page by default.</p>
        <h4 class="billing-address">Billing address</h4>
        <div class="my_account_address_form">
            <form class="my_acc_details_page_form" method="post">{% csrf_token %}
                <input type="hidden" name="from_billing_address_page" value="true">
                {% for field in billing_address_form %}
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                        {% if field.field.required %}
                            <span>*</span>
                        {% endif %}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit">Save</button>
            </form>
        </div>
    </div>