<div class="footer_bottom">      
    <div class="container">
       <div class="row">
            <div class="col-lg-6 col-md-7">
                <div class="copyright_area">
                    <p>Copyright &copy; 2023 <a href="#"> pallas </a>  All Right Reserved.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="footer_payment text-right">
                    <p><img src="assets/img/icon/payment.png" alt=""></p>
                </div>
            </div>
        </div>
    </div>
</div> 