{% load static %}
{% load humanize %}
{% load electronic_filters %}

<div class="col-lg-3">
    <div class="small_product_area">
        <div class="section_title">
            <h2>BEST  <span>SELLERS</span></h2>
        </div>
        <div class="small_product_wrapper" style="width: 275px;height:426.85px;">
            {% for best_seller in best_sellers %}
                <div class="small_product_items">
                    <div class="product_thumb">
                        <a href="{% url 'product_detail' best_seller.slug %}">
                            <img src="{{ best_seller.product_img_thumbnail.url }}"
                                 alt="{{ best_seller.name }}"
                                 style="width: 106.69px;height: 106.69px;">
                        </a>
                    </div>
                    <div class="product_content" style="width: 146.71px;height:106.69px;">
                        <div class="product_name">
                            <h3>
                                <a href="{% url 'product_detail' best_seller.slug %}">
                                {{ best_seller.name }}
                                </a>
                            </h3>
                        </div>
                        <form class="rating-form" method="post">{% csrf_token %}
                            <div class="product_rating">
                                <ul>
                                    {% for i in '12345' %}
                                        {% if best_seller.ratings.first %}
                                            <li data-value="{{ i }}">
                                                {% with i=i|to_int %}
                                                    <a href="#" class="{% if i <= best_seller.ratings.first.rating %}active{% endif %}">
                                                        <i class="zmdi {% if i <= best_seller.ratings.first.rating %}zmdi-star{% else %}zmdi-star-outline{% endif %}">
                                                        </i>
                                                    </a>
                                                {% endwith %}
                                            </li>
                                        {% else %}
                                            <li data-value="{{ i }}">
                                                <a href="#">
                                                    <i class="zmdi zmdi-star-outline"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <input type="hidden" id="rating_value" name="rating" value="{{ best_seller.ratings.first.rating|default:0 }}">
                                <input type="hidden" name="product_id" value="{{ best_seller.id }}">
                            </div>
                            <button type="submit" style="display:none;">Submit Rating</button>
                        </form>
                        <div class="price_box">
                            {% if best_seller.discount %}

                                <span class="current_price">Rs.{{ best_seller.new_price|intcomma }}</span>
                                <span class="old_price">Rs.{{ best_seller.price|intcomma }}</span>
                                <span class="discount">(-{{ best_seller.discount }}%)</span>

                            {% else %}

                                <span class="current_price">Rs.{{ best_seller.price|intcomma }}</span>
                                
                            {% endif %}     
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
        <div class="sidebar_banner_thumb mt-30">
            <a href="shop.html">
                <img src="{% static 'pallas/img/bg/banner1.jpg' %}" alt="">
            </a>
        </div>
    </div>
</div>
