{% load static %}
<div class="col-lg-3">
    <div class="small_product_area">
        <div class="section_title">
            <h2>BEST  <span>SELLERS</span></h2>
        </div>
        <div class="small_product_wrapper">
            {% for best_seller in best_sellers %}
                <div class="small_product_items">
                    <div class="product_thumb">
                        <a href="#">
                            <img src="{{ best_seller.product_img_thumbnail.url }}" alt="">
                        </a>
                    </div>
                    <div class="product_content">
                        <div class="product_name">
                            <h3><a href="#">{{ best_seller.name }}</a></h3>
                        </div>
                        <div class="product_rating">
                            <ul>
                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="price_box">
                            <span class="current_price">Rs.{{ best_seller.price }}</span>
                            <span class="old_price">$70.00</span>   
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
        <div class="sidebar_banner_thumb mt-30">
            <a href="shop.html">
                <img src="{% static 'pallas/img/bg/banner1.jpg' %}" alt="">
            </a>
        </div>
    </div>
</div>
