<div class="deals_product_container">
    <div class="section_title">
        <h2>Today’s <span>Deals</span></h2>
    </div>
    <div class="deals_product_inner">
        <div class="deals_tab_list">
            <ul class="nav" role="tablist">
                <li>
                    <a class="active" data-bs-toggle="tab" href="#{{ today_deals_categories_first.name }}" role="tab" aria-controls="Funiture" aria-selected="true"> 
                        <i class="zmdi zmdi-boat"></i>
                        <h3>{{ today_deals_categories_first.name }}</h3>
                    </a>
                </li>
                
                {% for today_deals_category in today_deals_categories %}
                    <li>
                        <a data-bs-toggle="tab" href="#{{ today_deals_category.name }}" role="tab" aria-controls="laptop" aria-selected="false">
                            <i class="zmdi zmdi-laptop-mac"></i>
                            <h3>{{ today_deals_category.name }}</h3>
                        </a>
                    </li>
                {% endfor %}
                    
            </ul>
        </div>
        <div class="deals_product_wrapper">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="{{ today_deals_categories_first.name }}" role="tabpanel">
                    <div class="deals_product_list">
                        {% for product in today_deals_products %}
                        
                            {% if product.category.name == today_deals_categories_first.name %}
                                <div class="single_deals_product">
                                    <div class="product_thumb">
                                        <a href="product-details.html">
                                            <img src="{{ product.product_img_thumbnail.url }}"
                                                alt="{{ product.name }}"
                                                style="width: 326.24px;height: 276.04px;">
                                        </a>
                                        <div class="label_product">
                                            <span class="label_sale">sale</span>
                                        </div>
                                        <div class="quick_button">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="quick view"> <i class="zmdi zmdi-eye"></i></a>
                                        </div>
                                        <div class="product_timing">
                                            <div data-countdown="2030/12/15"></div>
                                        </div>
                                    </div>
                                    <div class="product_content">
                                        <div class="product_name">
                                            <h3>
                                                <a href="product-details.html">
                                                    {{ product.name }}
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            <span class="current_price">Rs.{{ product.price }}</span>
                                            <span class="old_price">$70.00</span>   
                                        </div>
                                        <div class="action_links">
                                            <ul>
                                            <li class="wishlist">
                                                <a href="wishlist.html" title="Add to Wishlist">
                                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                                <li class="add_to_cart">
                                                    <a href="cart.html" title="add to cart">
                                                        <i class="zmdi zmdi-shopping-cart-plus"></i>
                                                        add to cart
                                                        </a>
                                                    </li>
                                                <li class="compare">
                                                    <a href="#" title="compare">
                                                        <i class="zmdi zmdi-swap"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            
                        {% endfor %}
                            
                    </div>
                </div>
                
                {% for today_deals_category in today_deals_categories %}
                    <div class="tab-pane fade" id="{{ today_deals_category.name }}" role="tabpanel">
                        <div class="deals_product_list">
                            {% for product in today_deals_products %}
                                {% if product.category.name == today_deals_category.name %}
                                    <div class="single_deals_product">
                                        <div class="product_thumb">
                                            <a href="product-details.html">
                                                <img src="{{ product.product_img_thumbnail.url }}"
                                                    alt="{{ product.name }}"
                                                    style="width: 326.24px;height: 276.04px;">
                                            </a>
                                            <div class="quick_button">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box"  title="quick view"> <i class="zmdi zmdi-eye"></i></a>
                                            </div>
                                            <div class="product_timing">
                                                <div data-countdown="2030/12/15"></div>
                                            </div>
                                        </div>
                                        <div class="product_content">
                                            <div class="product_name">
                                                <h3>
                                                    <a href="product-details.html">
                                                        {{ product.name }}
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="product_rating">
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="price_box">
                                                <span class="current_price">Rs.{{ product.price }}</span>
                                                <span class="old_price">$70.00</span>   
                                            </div>
                                            <div class="action_links">
                                                <ul>
                                                    <li class="wishlist">
                                                        <a href="wishlist.html" title="Add to Wishlist">
                                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="add_to_cart">
                                                        <a href="cart.html" title="add to cart">
                                                            <i class="zmdi zmdi-shopping-cart-plus"></i>
                                                            add to cart
                                                        </a>
                                                    </li>
                                                    <li class="compare">
                                                        <a href="#" title="compare">
                                                            <i class="zmdi zmdi-swap"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                    
                            {% endfor %}
                        </div>
                    </div> 
                {% endfor %}
                    
            </div> 
        </div>
    </div>
</div>