{% load humanize %}
{% load electronic_filters %}

<div class="deals_product_container">
    <div class="section_title">
        <h2>Today’s <span>Deals</span></h2>
    </div>
    <div class="deals_product_inner">
        <div class="deals_tab_list">
            <ul class="nav" role="tablist">
                {% for category in today_deals_categories %}
                    <li>
                        <a class="{% if forloop.first %}active{% endif %}"
                           data-bs-toggle="tab"
                           href="#today-deals-{{ category.name|slugify }}"
                           role="tab"
                           aria-controls="today-deals-{{ category.name|slugify }}"
                           aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                            <i class="zmdi zmdi-boat"></i>
                            <h3>{{ category.name }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="deals_product_wrapper">
            <div class="tab-content">
                {% for category in today_deals_categories %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                         id="today-deals-{{ category.name|slugify }}"
                         role="tabpanel"
                         aria-labelledby="today-deals-{{ category.name|slugify }}-tab">
                        <div class="deals_product_list">
                            {% for product in category.products.all|get_todays_deals_products %}
                                <div class="single_deals_product">
                                    <div class="product_thumb">
                                        <a href="{% url 'product_detail' product.slug %}">
                                            <img src="{{ product.product_img_thumbnail.url }}" alt="{{ product.name }}" style="width: 326.24px; height: 276.04px;">
                                        </a>
                                        <div class="label_product">
                                            <span class="label_sale">sale</span>
                                        </div>
                                        <div class="quick_button">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick view">
                                                <i class="zmdi zmdi-eye"></i>
                                            </a>
                                        </div>
                                        <div class="product_timing">
                                            <div data-countdown="2025/08/10" data-added-date="{{ product.added_date|date:'Y-m-d\TH:i:s' }}"></div>
                                        </div>
                                    </div>
                                    <div class="product_content">
                                        <div class="product_name">
                                            <h3>
                                                <a href="{% url 'product_detail' product.slug %}">
                                                    {{ product.name }}
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="product_rating">
                                            <ul>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                                <li><a href="#"><i class="zmdi zmdi-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            {% if product.discount %}
                                                <span class="current_price">Rs.{{ product.new_price|intcomma }}</span>
                                                <span class="old_price">Rs.{{ product.price|intcomma }}</span>
                                                <span class="discount">(-{{ product.discount }}%)</span>
                                            {% else %}
                                                <span class="current_price">Rs.{{ product.price|intcomma }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="action_links">
                                            <ul>
                                                <li class="wishlist">
                                                    <form method="post" class="wishlist_form">{% csrf_token %}
                                                        <input type="hidden" name="prod_slug" value="{{ product.slug }}">
                                                        <button type="submit">
                                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                        </button>
                                                    </form>
                                                </li>
                                                <li class="add_to_cart">
                                                    <form method="post" class="cart_form">{% csrf_token %}
                                                        <input type="hidden" name="prod_slug" value="{{ product.slug }}">
                                                        <button type="submit">
                                                            <i class="zmdi zmdi-shopping-cart-plus"></i>
                                                            add to cart
                                                        </button>
                                                    </form>
                                                </li>
                                                <li class="compare">
                                                    <a href="#" title="compare">
                                                        <i class="zmdi zmdi-swap"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>