<div class="col-lg-3 col-md-8 offset-md-2 offset-lg-0">
    <div class="blog_sidebar_widget">
        <div class="widget_list widget_categories">
            <h2>categories</h2>
            <ul>
                {% for category in post_categories %}
                    <li>
                        <a href="{% url "post_by_category_list" category.name %}" class="post_by_catgory_link">
                            {{ category.name }} <span>({{ category.posts.count }})</span>
                        </a> 
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="widget_list widget_search mb-30">
        <h2>Search</h2>
        <form action="{% url "post_search" %}" method="get" class="post_search_form">
            <input placeholder="search.." type="text" name="post_search_query">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div>
        <div class="widget_list recent_post">
            <h2>Recent Posts</h2>
            <ul>
            {% for recent_post in recent_posts %}
                <li>
                    <a href="{% url "post_detail" recent_post.id %}">{{ recent_post.title | truncatechars:40 }}</a> 
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="widget_list widget_archives">
            <h2>Blog Archives</h2>
            <ul>
            {% comment %} archive is same as post {% endcomment %}
            {% for archive in blog_archives %}
                <li>
                    <a href="{% url "monthly_archive" archive.month archive.year %}">
                        {{ archive.month }} {{ archive.year }} <span>({{ archive.count }})</span>
                    </a> 
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="widget_list widget_tags">
            <h2>Tags</h2>
            <div class="tag_cloud">
            <ul>
                {% for tag in post_tags %}
                    <li><a href="{% url "post_by_tag_list" tag.name %}" class="post_by_tag_link">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
 </div>