{% extends "_base.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block page_name %}Blog / Blog Detail{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-meta">Posted by
                        <a href="#">{{ post.author }}</a>
                        on {{ post.published_on }}</p>
                </div>
                <hr>
                <div class="post-image">
                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                </div>
                <p>{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
{% endblock %}
