{% extends "_base.html" %}
{% load static %}

{% block page_name %}
    Contact Us
{% endblock page_name %}

{% block content %}
    <!--contact area start-->
    <div class="contact_area" style="margin-top:50px;">
        <div class="container">   
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message content">
                        <h3>contact us</h3>
                        <p>
                            Welcome to Pallas! Our dedicated team is here to assist you. Reach out via phone or email for support [+977 9845623614, chelp@gmail.com]. For personalized assistance, visit our store at [Tokha-9, Kathmandu]. We look forward to serving you!                        </p>
                        <ul>
                            <li><i class="fa fa-fax"></i>  Address : Tokha-9, Kathmandu</li>
                            <li><i class="fa fa-phone"></i> <a href="#">info_fiit@gmail.com</a></li>
                            <li><i class="fa fa-envelope-o"></i> +977 9845263158</li>
                        </ul>             
                    </div> 
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message form">
                        <h3>Tell us your Message</h3>   
                        <div>
                            {% if messages %}
                                {% for msg in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Warning!</strong> 
                                    {{ msg }}
                                    {% if form.errors and form.non_field_errors %}
                                        {{ form.non_field_errors }}
                                    {% endif %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                            
                                {% endfor %}

                            {% endif %}                              
                        </div>
                        <form method="post" class="form-contact contact_form">{% csrf_token %}
                            <p>
                                <label for="name"> Your Name (required)</label>
                                <input name="name" placeholder="Name *" type="text" required>
                                <h5><b>
                                    {{ form.name.errors }}
                                </b></h5>
                            </p>
                            <p>       
                                <label for="email">  Your Email (required)</label>
                                <input name="email" placeholder="Email *" type="email" required>
                                <h5><b>
                                    {{ form.email.errors }}
                                </b></h5>
                            </p>
                            <p>          
                                <label for="subject">  Subject</label>
                                <input name="subject" placeholder="Subject *" type="text" required>
                                <h5><b>
                                    {{ form.subject.errors }}
                                </b></h5>
                            </p>
                            <p>
                                <label for="msg">  Your Message</label>
                                <textarea name="msg" placeholder="Message *" required>
                                </textarea>
                                <h5><b>
                                    {{ form.msg.errors }}
                                </b></h5>
                            </p>
                            <button type="submit"> Send</button>
                        </form> 
                    </div> 
                </div>
            </div>
        </div>    
    </div>

    <!--contact area end-->

{% endblock content %}
