{% extends "_base.html" %}
{% load static %}

{% block page_name %}
    Contact Us
{% endblock page_name %}

{% block content %}
    
    <!--contact area start-->
    <div class="contact_area" style="margin-top:50px;">
        <div class="container">   
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message content">
                        <h3>contact us</h3>    
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas human. qui sequitur mutationem consuetudium lectorum. Mirum est notare</p>
                        <ul>
                            <li><i class="fa fa-fax"></i>  Address : No 40 Baria Sreet 133/2 NewYork City</li>
                            <li><i class="fa fa-phone"></i> <a href="#">Infor@roadthemes.com</a></li>
                            <li><i class="fa fa-envelope-o"></i> 0(1234) 567 890</li>
                        </ul>             
                    </div> 
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="contact_message form">
                        <h3>Tell us your Message</h3>   
                        <div class="message">
                          
                          {% if messages %}
                              
                              {% for msg in messages %}
                                  <p class="form-messege">{{ msg }}</p>
                              {% endfor %}
                                  
                          {% endif %}
                              
                          {% if form.errors and form.non_field_errors %}
                            <p class="form-messege">{{ form.non_field_errors }}</p>
                          {% endif %}
                        </div>
                        <form method="post" id="contact-form">{% csrf_token %}
                            <p>  
                                <label> Your Name (required)</label>
                                <input name="name" placeholder="Name *" type="text">
                                {{ form.name.errors }}
                            </p>
                            <p>       
                                <label>  Your Email (required)</label>
                                <input name="email" placeholder="Email *" type="email">
                                {{ form.email.errors }}
                            </p>
                            <p>          
                                <label>  Subject</label>
                                <input name="subject" placeholder="Subject *" type="text">
                                {{ form.subject.errors }}
                            </p>    
                            <div class="contact_textarea">
                                <label>  Your Message</label>
                                <textarea placeholder="Message *" name="msg"  class="form-control2" ></textarea>
                                {{ form.msg.errors }}     
                            </div>   
                            <button type="submit"> Send</button>  
                        </form> 
                    </div> 
                </div>
            </div>
        </div>    
    </div>

    <!--contact area end-->

{% endblock content %}
