{% extends "_base.html" %}
{% load posts_filters %}

{% block title %}{{ post.title }}{% endblock %}
{% block page_name %}Blog / Blog Detail{% endblock %}

{% block content %}
    <!--blog body area start-->
    <div class="blog_details mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <!--blog grid area start-->
                    <div class="blog_details_wrapper">
                        <div class="single_blog mb-50">
                            <div class="blog_title">
                                <span>
                                    <a href="{% url "post_by_category_list" blg_post_detail.category.name %}">{{ blg_post_detail.category }}</a>
                                </span>
                                <h2><a href="{% url "post_detail" blg_post_detail.id %}">{{ blg_post_detail.title }}</a></h2>
                                <div class="blog_post">
                                    <ul>
                                        <li class="post_author">Posted by: {{ blg_post_detail.author.first_name }} {{ blg_post_detail.author.last_name }}</li>
                                        <li class="post_date">{{ blg_post_detail.published_on }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog_container">
                                <div class="blog_thumb">
                                    <a href="{% url "post_detail" blg_post_detail.id %}">
                                        <img src="{{ blg_post_detail.featured_image.url }}" alt="{{ blg_post_detail.title }}">
                                    </a>
                                </div>
                                <div class="blog_content">
                                    <div class="post_content">
                                        <p>{{ blg_post_detail.content|safe }}</p>
                                    </div>
                                    <div class="entry_content">
                                        <div class="post_meta">
                                            <span>Tags: </span>
                                            {% for tag in blg_post_detail.tag.all %}
                                                <span>
                                                    <a href="{% url "post_by_tag_list" tag.name %}">{{ tag.name }}, </a>
                                                </span>
                                            {% endfor %}
                                        </div>
    
                                        <div class="social_sharing">
                                            <p>share this post:</p>
                                            <ul>
                                                <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#" title="google+"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Like Dislike Section -->
                                <div class="like_dislike_section">
                                    <form method="post" class="like_form">
                                        {% csrf_token %}
                                        <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                                        <input type="hidden" name="action" value="like">
                                        <input type="hidden" name="obj_id" value="{{ blg_post_detail.id }}">
                                        <input type="hidden" name="model" value="post">
                                        {% has_liked_post blg_post_detail request.user as post_liked %}
                                        <button type="submit" class="like_button {% if post_liked %}liked{% endif %}">
                                            <i class="fa fa-thumbs-up"></i>
                                        </button>
                                    </form>
                                    <p class="like_count">{{ blg_post_detail.like_count }}</p>
                                    <form method="post" class="dislike_form">
                                        {% csrf_token %}
                                        <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                                        <input type="hidden" name="action" value="dislike">
                                        <input type="hidden" name="obj_id" value="{{ blg_post_detail.id }}">
                                        <input type="hidden" name="model" value="post">
                                        {% has_disliked_post blg_post_detail request.user as post_disliked %}
                                        <button type="submit" class="dislike_button {% if post_disliked %}disliked{% endif %}">
                                            <i class="fa fa-thumbs-down"></i>
                                        </button>
                                    </form>
                                    <p class="dislike_count">{{ blg_post_detail.dislike_count }}</p>
                                </div>
                                <!-- Like Dislike Section End -->

                                <!-- Related Posts -->
                                <div class="related_posts">
                                    <h3>Related posts</h3>
                                    <div class="row">
                                        {% for related_post in related_posts %}
                                            <div class="col-lg-4 col-md-6">
                                                <div class="single_related">
                                                    <div class="related_thumb">
                                                        <img src="{{ related_post.featured_image.url }}" alt="{{ related_post.title }}">
                                                    </div>
                                                    <div class="related_content">
                                                        <h4><a href="{% url "post_detail" related_post.id %}">{{ related_post.title }}</a></h4>
                                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> {{ related_post.published_on }} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- Related Posts End -->
                            </div>
                        </div>
                        <!-- Comments and Comment Form -->
                        {% include "blog/blog detail/comment_area.html" %}
                    </div>
                    <!--blog grid area end-->
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="blog_sidebar_widget">
                        <div class="widget_list widget_categories">
                            <h2>Categories</h2>
                            <ul>
                                {% for category in post_categories %}
                                    <li>
                                        <a href="{% url "post_by_category_list" category.name %}">{{ category.name }} <span>({{ category.posts.count }})</span></a> 
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget_list widget_search mb-30">
                            <h2>Search</h2>
                            <form action="{% url "post_search" %}" method="get" class="post_search_form">
                                <input placeholder="search.." type="text" name="post_search_query">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget_list recent_post">
                            <h2>Recent Posts</h2>
                            <ul>
                                {% for recent_post in recent_posts %}
                                    <li>
                                        <a href="{% url "post_detail" recent_post.id %}">{{ recent_post.title|truncatechars:40 }}</a> 
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget_list widget_archives">
                            <h2>Blog Archives</h2>
                            <ul>
                                {% for archive in blog_archives %}
                                    <li>
                                        <a href="{% url "monthly_archive" archive.month archive.year %}">
                                            {{ archive.month }} {{ archive.year }} <span>({{ archive.count }})</span>
                                        </a> 
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget_list widget_tags">
                            <h2>Tags</h2>
                            <div class="tag_cloud">
                                <ul>
                                    {% for tag in post_tags %}
                                        <li><a href="{% url "post_by_tag_list" tag.name %}">{{ tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--blog section area end-->
{% endblock %}
