{% load static %}
{% load posts_filters %}

<div class="comments_area">
    <div class="comments_form">
        <form action="{% url "post_comment" %}" method="post" id="blg_comment_form">{% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <label for="review_comment">Comment</label>
                    <textarea name="comment" id="review_comment"></textarea>
                </div>
            </div>
            <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
            <button class="button" type="submit" disabled>Post Comment</button>
        </form>    
    </div>
    <div class="comments_box">
        <h3>{{ blg_post_detail.comments.count }} Comments</h3>
        {% for comment in blg_post_detail.comments.all %}
            <div class="comment_list">
                <div class="comment_thumb">
                    <img src="{% static "pallas/img/blog/comment3.png.jpg" %}" alt="">
                </div>
                <div class="comment_content">
                    <div class="comment_meta">
                        <h5><a href="#">{{ comment.comment_writer }}</a></h5>
                        <span>{{ comment.created_at }}</span> 
                    </div>
                    <p>{{ comment.comment }}</p>
                    <div class="like_dislike_section">
                        <form method="post" class="like_form">
                            {% csrf_token %}
                            <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                            <input type="hidden" name="action" value="like">
                            <input type="hidden" name="obj_id" value="{{ comment.id }}">
                            <input type="hidden" name="model" value="comment">
                            {% has_liked_comment comment request.user as comment_liked %}
                            <button type="submit" class="like_button {% if comment_liked %}liked{% endif %}">
                                <i class="fa fa-thumbs-up"></i>
                            </button>
                        </form>
                        <p class="like_count">{{ comment.like_count }}</p>
                        <form method="post" class="dislike_form">
                            {% csrf_token %}
                            <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                            <input type="hidden" name="action" value="dislike">
                            <input type="hidden" name="obj_id" value="{{ comment.id }}">
                            <input type="hidden" name="model" value="comment">
                            {% has_disliked_comment comment request.user as comment_disliked %}
                            <button type="submit" class="dislike_button {% if comment_disliked %}disliked{% endif %}">
                                <i class="fa fa-thumbs-down"></i>
                            </button>
                        </form>
                        <p class="dislike_count">{{ comment.dislike_count }}</p>
                    </div>
                    <div class="comment_reply">
                        <a href="#" class="reply_btn">Reply</a>
                    </div>
                    <div class="reply_form_container" style="display: none;">
                        <form id="reply_form">{% csrf_token %}
                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                            <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                            <textarea name="reply" class="reply_textbox" placeholder="Write a reply..." required></textarea>
                            <div class="reply_buttons">
                                <button type="submit" class="submit_reply_btn" disabled>Reply</button>
                                <button type="button" class="cancel_reply_btn">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <!-- Replies Section -->
                    {% for reply in comment.replies.all %}
                        <div class="comment_list list_two">
                            <div class="comment_thumb">
                                <img src="{% static "pallas/img/blog/comment3.png.jpg" %}" alt="">
                            </div>
                            <div class="comment_content">
                                <div class="comment_meta">
                                    <h5><a href="#">{{ reply.reply_writer }}</a></h5>
                                    <span>{{ reply.created_at }}</span>
                                </div>
                                <p>{{ reply.reply_content }}</p>
                                <div class="like_dislike_section">
                                    <form method="post" class="like_form">
                                        {% csrf_token %}
                                        <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                                        <input type="hidden" name="action" value="like">
                                        <input type="hidden" name="obj_id" value="{{ reply.id }}">
                                        <input type="hidden" name="model" value="reply">
                                        {% has_liked_reply reply request.user as reply_liked %}
                                        <button type="submit" class="like_button {% if reply_liked %}liked{% endif %}">
                                            <i class="fa fa-thumbs-up"></i>
                                        </button>
                                    </form>
                                    <p class="like_count">{{ reply.like_count }}</p>
                                    <form method="post" class="dislike_form">
                                        {% csrf_token %}
                                        <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                                        <input type="hidden" name="action" value="dislike">
                                        <input type="hidden" name="obj_id" value="{{ reply.id }}">
                                        <input type="hidden" name="model" value="reply">
                                        {% has_disliked_reply reply request.user as reply_disliked %}
                                        <button type="submit" class="dislike_button {% if reply_disliked %}liked{% endif %}">
                                            <i class="fa fa-thumbs-down"></i>
                                        </button>
                                    </form>
                                    <p class="dislike_count">{{ reply.dislike_count }}</p>
                                </div>
                                <div class="comment_reply">
                                    <a href="#" class="top_lvl_reply_btn">Reply</a>
                                </div>
                                <div class="top_lvl_reply_form_container" style="display: none;">
                                    <form id="top_lvl_reply_form">{% csrf_token %}
                                        <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                                        <input type="hidden" name="parent_reply_id" value="{{ reply.id }}">
                                        <textarea name="reply" class="top_lvl_reply_textbox" placeholder="Write a reply..." required></textarea>
                                        <div class="top_lvl_reply_buttons">
                                            <button type="submit" class="top_lvl_submit_reply_btn" disabled>Reply</button>
                                            <button type="button" class="top_lvl_cancel_reply_btn">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% if reply.child_replies.exists %}
                            {% for child_reply in reply.child_replies.all %}
                                <div class="comment_list list_two">
                                    <div class="comment_thumb">
                                        <img src="{% static "pallas/img/blog/comment3.png.jpg" %}" alt="">
                                    </div>
                                    <div class="comment_content">
                                        <div class="comment_meta">
                                            <h5><a href="#">{{ child_reply.reply_writer }}</a></h5>
                                            <span>{{ child_reply.created_at }}</span>
                                        </div>
                                        <a>@{{ reply.reply_writer.first_name }} {{ reply.reply_writer.last_name }} </a>
                                        <p>{{ child_reply.reply_content }}</p>
                                        <div class="like_dislike_section">
                                            <form method="post" class="like_form">
                                                {% csrf_token %}
                                                <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                                                <input type="hidden" name="action" value="like">
                                                <input type="hidden" name="obj_id" value="{{ child_reply.id }}">
                                                <input type="hidden" name="model" value="reply">
                                                {% has_liked_reply child_reply request.user as reply_liked %}
                                                <button type="submit" class="like_button {% if reply_liked %}liked{% endif %}">
                                                    <i class="fa fa-thumbs-up"></i>
                                                </button>
                                            </form>
                                            <p class="like_count">{{ child_reply.like_count }}</p>
                                            <form method="post" class="dislike_form">
                                                {% csrf_token %}
                                                <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                                                <input type="hidden" name="action" value="dislike">
                                                <input type="hidden" name="obj_id" value="{{ child_reply.id }}">
                                                <input type="hidden" name="model" value="reply">
                                                {% has_disliked_reply child_reply request.user as reply_disliked %}
                                                <button type="submit" class="dislike_button {% if reply_disliked %}disliked{% endif %}">
                                                    <i class="fa fa-thumbs-down"></i>
                                                </button>
                                            </form>
                                            <p class="dislike_count">{{ child_reply.dislike_count }}</p>
                                        </div>
                                        <div class="comment_reply">
                                            <a href="#" class="child_lvl_reply_btn">Reply</a>
                                        </div>
                                        <div class="child_lvl_reply_form_container" style="display: none;">
                                            <form id="child_lvl_reply_form">{% csrf_token %}
                                                <input type="hidden" name="blg_post_detail_id" value="{{ blg_post_detail.id }}">
                                                <input type="hidden" name="reply_to_reply" value="true">
                                                <input type="hidden" name="parent_reply_id" value="{{ child_reply.id }}">
                                                <textarea name="reply" class="child_lvl_reply_textbox" placeholder="Write a reply..." required></textarea>
                                                <div class="child_lvl_reply_buttons">
                                                    <button type="submit" class="child_lvl_submit_reply_btn" disabled>Reply</button>
                                                    <button type="button" class="child_lvl_cancel_reply_btn">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% include "blog/blog detail/nested_replies.html" with recursive_replies=child_reply.child_replies.all %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>