{% load humanize %}
{% load electronic_filters %}

<div class="widget_list recent_product">
    <h2>Top Rated Products</h2>
    <div class="recent_product_container">
        {% for top_rated_product in top_rated_products %}

            <div class="recent_product_list">
                <div class="recent_product_thumb">
                    <a href="{% url 'product_detail' top_rated_product.slug %}">
                        <img src="{{ top_rated_product.product_img_thumbnail.url }}"
                            alt="{{ top_rated_product.name }}"
                            style="height: 72.3px;width: 72.3px;">
                    </a>
                </div>
                <div class="recent_product_content">
                    <h3>
                        <a href="{% url 'product_detail' top_rated_product.slug %}">
                        {{ top_rated_product.name }}
                        </a>
                    </h3>
                    <form class="rating-form" method="post">{% csrf_token %}
                        <div class="product_rating">
                            <ul>
                                {% for i in '12345' %}
                                    {% if top_rated_product.ratings.first %}
                                        <li data-value="{{ i }}">
                                            {% with i=i|to_int %}
                                                <a href="#" class="{% if i <= top_rated_product.ratings.first.rating %}active{% endif %}">
                                                    <i class="zmdi {% if i <= top_rated_product.ratings.first.rating %}zmdi-star{% else %}zmdi-star-outline{% endif %}">
                                                    </i>
                                                </a>
                                            {% endwith %}
                                        </li>
                                    {% else %}
                                        <li data-value="{{ i }}">
                                            <a href="#">
                                                <i class="zmdi zmdi-star-outline"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <input type="hidden" id="rating_value" name="rating" value="{{ top_rated_product.ratings.first.rating|default:0 }}">
                            <input type="hidden" name="product_id" value="{{ top_rated_product.id }}">
                        </div>
                        <button type="submit" style="display:none;">Submit Rating</button>
                    </form>
                    <div class="price_box">
                        {% if top_rated_product.discount %}

                            <span class="current_price">Rs.{{ top_rated_product.new_price|intcomma }}</span>
                            <span class="old_price">Rs.{{ top_rated_product.price|intcomma }}</span>
                            <span class="discount">(-{{ top_rated_product.discount }}%)</span>

                        {% else %}

                            <span class="current_price">Rs.{{ top_rated_product.price|intcomma }}</span>
                            
                        {% endif %}     
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>