{% extends "_base.html" %}

{% load humanize %}

{% block page_name %}
    Checkout
{% endblock page_name %}

{% block content %}
    <!--Checkout page section-->
    <div class="Checkout_section mt-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="user-actions">
                        <h3> 
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_login" aria-expanded="true">Click here to login</a>     

                        </h3>
                        <div id="checkout_login" class="collapse" data-parent="#accordion">
                            <div class="checkout_info">
                                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>  
                                <form action="#">  
                                    <div class="form_group">
                                        <label>Username or email <span>*</span></label>
                                        <input type="text">     
                                    </div>
                                    <div class="form_group">
                                        <label>Password  <span>*</span></label>
                                        <input type="text">     
                                    </div> 
                                    <div class="form_group group_3 ">
                                        <button type="submit">Login</button>
                                        <label for="remember_box">
                                            <input id="remember_box" type="checkbox">
                                            <span> Remember me </span>
                                        </label>     
                                    </div>
                                    <a href="#">Lost your password?</a>
                                </form>          
                            </div>
                        </div>    
                    </div>
                    <div class="user-actions">
                        <h3> 
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_coupon" aria-expanded="true">Click here to enter your code</a>     

                        </h3>
                        <div id="checkout_coupon" class="collapse" data-parent="#accordion">
                            <div class="checkout_info">
                                <form action="#">
                                    <input placeholder="Coupon code" type="text">
                                    <button type="submit">Apply coupon</button>
                                </form>
                            </div>
                        </div>    
                    </div>    
                </div>
            </div>
            <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                <div class="checkout_form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h3>Billing Details</h3>
                            {{ user_form.non_field_errors }}
                            {{ address_form.non_field_errors }}
                            {{ customer_form.non_field_errors }}
                            {{ checkout_form.non_field_errors }}
                            <div class="row">
                                <!-- Billing Details Fields -->
                                <div class="col-lg-6 mb-20">
                                    <label for="id_first_name">First Name <span>*</span></label>
                                    {{ user_form.first_name }}
                                    <div class="invalid-feedback">
                                        {{ user_form.first_name.errors }}
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label for="id_last_name">Last Name <span>*</span></label>
                                    {{ user_form.last_name }}
                                    <div class="invalid-feedback">
                                        {{ user_form.last_name.errors }}
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <label for="id_address_line_1">Address Line 1 <span>*</span></label>
                                    {{ address_form.address_line_1 }}
                                    <div class="invalid-feedback">
                                        {{ address_form.address_line_1.errors }}
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <label for="id_address_line_2">Address Line 2 <span>*</span></label>
                                    {{ address_form.address_line_2 }}
                                    <div class="invalid-feedback">
                                        {{ address_form.address_line_2.errors }}
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <label for="id_city">Town / City <span>*</span></label>
                                    {{ address_form.city }}
                                    <div class="invalid-feedback">
                                        {{ address_form.city.errors }}
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <label for="id_state_or_province">State / Province <span>*</span></label>
                                    {{ address_form.state_or_province }}
                                    <div class="invalid-feedback">
                                        {{ address_form.state_or_province.errors }}
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label for="id_phone_number">Phone <span>*</span></label>
                                    {{ customer_form.phone_number }}
                                    <div class="invalid-feedback">
                                        {{ customer_form.phone_number.errors }}
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <label for="id_email">Email Address <span>*</span></label>
                                    {{ user_form.email }}
                                    <div class="invalid-feedback">
                                        {{ user_form.email.errors }}
                                    </div>
                                </div>
                                <div class="payment_method">
                                    <label>Delivery <span>*</span></label>
                                    <div class="panel-default" style="position: relative;">
                                        <input id="inside_valley" name="check_method" type="radio" onclick="shipping_price_update(80)" checked>
                                        <label for="inside_valley">Inside Valley</label>
                                        <span style="position:absolute;right:0;">Rs.80</span>
                                    </div>
                                    <div class="panel-default" style="position: relative;">
                                        <input id="outside_valley" name="check_method" type="radio" onclick="shipping_price_update(250)">
                                        <label for="outside_valley">Outside Valley</label>
                                        <span style="position:absolute;right:0;">Rs.250</span>
                                    </div>
                                    <div class="panel-default" style="position: relative;">
                                        <input id="store_pickup" name="check_method" type="radio" onclick="shipping_price_update(0)">
                                        <label for="store_pickup">Store Pickup</label>
                                        <span style="position:absolute;right:0;">Rs.0</span>
                                    </div>
                                </div>
                                <div class="col-12 mb-20 mt-2">
                                    <input id="account" type="checkbox" />
                                    <label for="account" aria-controls="collapseOne">Create an account?</label>
                                    <div id="collapseOne" class="collapse one" style="display: none;">
                                        <div class="card-body1">
                                            <label for="{{ user_form.password.id_for_label }}">Account password <span>*</span></label>
                                            {{ user_form.password }}
                                            <div class="invalid-feedback">
                                                {{ user_form.password.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <input id="address" type="checkbox" data-bs-target="createp_account" />
                                    <label class="righ_0" for="address" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-controls="collapseOne">Ship to a different address?</label>
                                    <div id="collapsetwo" class="collapse one" data-parent="#accordion">
                                        <div class="row">
                                            <div class="col-lg-6 mb-20">
                                                <label for="id_alt_first_name">First Name <span>*</span></label>
                                                <input type="text" name="alt_first_name" id="id_alt_first_name">
                                                <span class="error-message">{{ form.alt_first_name.errors }}</span>
                                            </div>
                                            <div class="col-lg-6 mb-20">
                                                <label for="id_alt_last_name">Last Name <span>*</span></label>
                                                <input type="text" name="alt_last_name" id="id_alt_last_name">
                                                <span class="error-message">{{ form.alt_last_name.errors }}</span>
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label for="id_alt_address_line_1">Street address <span>*</span></label>
                                                <input placeholder="House number and street name" type="text" name="alt_address_line_1" id="id_alt_address_line_1">
                                                <span class="error-message">{{ form.alt_address_line_1.errors }}</span>
                                            </div>
                                            <div class="col-12 mb-20">
                                                <input placeholder="Apartment, suite, unit etc. (optional)" type="text" name="alt_address_line_2" id="id_alt_address_line_2">
                                                <span class="error-message">{{ form.alt_address_line_2.errors }}</span>
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label for="id_alt_city">Town / City <span>*</span></label>
                                                <input type="text" name="alt_city" id="id_alt_city">
                                                <span class="error-message">{{ form.alt_city.errors }}</span>
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label for="id_alt_state_province">State / County <span>*</span></label>
                                                <input type="text" name="alt_state_province" id="id_alt_state_province">
                                                <span class="error-message">{{ form.alt_state_province.errors }}</span>
                                            </div>
                                            <div class="col-lg-6 mb-20">
                                                <label for="id_alt_phone">Phone <span>*</span></label>
                                                <input type="text" name="alt_phone" id="id_alt_phone">
                                                <span class="error-message">{{ form.alt_phone.errors }}</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="id_alt_email">Email Address <span>*</span></label>
                                                <input type="text" name="alt_email" id="id_alt_email">
                                                <span class="error-message">{{ form.alt_email.errors }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="order-notes">
                                        <label for="{{ checkout_form.order_notes.id_for_label }}">Order Notes</label>
                                        {{ checkout_form.order_notes }}
                                        <span class="error-message">{{ checkout_form.order_notes.errors }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h3>Your order</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in ordered_items %}
                                            <tr>
                                                <td>{{ item.product.name }} <strong> × {{ item.quantity }}</strong></td>
                                                <td> Rs.{{ item.total_price|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Cart Subtotal</th>
                                            <td>Rs.<span id="sub_total">{{ sub_total|intcomma }}</span></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td>Rs.<span id="shipping_price">80</span></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            <td>Rs.<span id="total_order_price"></span></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <h3>Payment</h3>
                            <div class="payment_method">
                                <select name="payment_method" required id="{{ checkout_form.payment_method.id_for_label }}" class="form-select">
                                    {% for value, display in checkout_form.payment_method.field.choices %}
                                        <option value="{{ value }}" {% if checkout_form.payment_method.value == value %}selected{% endif %}>
                                            {{ display }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    {{ checkout_form.payment_method.errors }}
                                </div>
                                <div class="order_button" style="margin-top: 5px;">
                                    <button type="submit">Proceed to Payment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Checkout page section end-->   
{% endblock content %}