<section class="custom_product_area mb-50">
    <div class="container">
        <div class="row">
            <!-- Featued Products -->
            {% include "main/home/product/custom product/featured_products.html" %}
            <!-- Best Seller Products -->
            {% include "main/home/product/custom product/best_seller_products.html" %}
            <!-- Top-Rated Products -->
            {% include "main/home/product/custom product/top_rated_products.html" %}
            
        </div>
    </div>
</section>