{% load humanize %}
{% load electronic_filters %}

<div class="col-lg-4">
    <div class="small_product_area">
        <div class="section_title">
            <h2>Featured  <span>Products</span></h2>
        </div>
        <div class="small_product_wrapper">
            
            {% for product in featured_products %}
                <div class="small_product_items"
                style="height: 154.99px;width: 373.4px;">
                    <div class="product_thumb">
                        <a href="{% url 'product_detail' product.slug %}">
                            <img src="{{ product.product_img_thumbnail.url }}"
                                 alt="{{ product.name }}"
                                 style="height: 120.19px;width: 120.19px;">
                        </a>
                    </div>
                    <div class="product_content">
                        <div class="product_name">
                            <h3>
                                <a href="{% url 'product_detail' product.slug %}">
                                {{ product.name }}
                                </a>
                            </h3>
                        </div>
                        <form class="rating-form" method="post">{% csrf_token %}
                            <div class="product_rating">
                                <ul>
                                    {% for i in '12345' %}
                                        {% if product.ratings.first %}
                                            <li data-value="{{ i }}">
                                                {% with i=i|to_int %}
                                                    <a href="#" class="{% if i <= product.ratings.first.rating %}active{% endif %}">
                                                        <i class="zmdi {% if i <= product.ratings.first.rating %}zmdi-star{% else %}zmdi-star-outline{% endif %}">
                                                        </i>
                                                    </a>
                                                {% endwith %}
                                            </li>
                                        {% else %}
                                            <li data-value="{{ i }}">
                                                <a href="#">
                                                    <i class="zmdi zmdi-star-outline"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <input type="hidden" id="rating_value" name="rating" value="{{ product.ratings.first.rating|default:0 }}">
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                            </div>
                            <button type="submit" style="display:none;">Submit Rating</button>
                        </form>
                        <div class="price_box">
                            {% if product.discount %}

                                <span class="current_price">Rs.{{ product.new_price|intcomma }}</span>
                                <span class="old_price">Rs.{{ product.price|intcomma }}</span>
                                <span class="discount">(-{{ product.discount }}%)</span>

                            {% else %}

                                <span class="current_price">Rs.{{ product.price|intcomma }}</span>
                                
                            {% endif %}  
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>